{% extends 'autos/base.html' %}
{% block titulo%} Buscar Carros por Marcas {% endblock %}
{% block contenido %}
  
  <form action="buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  {% for Vehiculo in lista_carros %}
      <ul>
          <li> Marca: {{Vehiculo.marca_del_carro}},  Modelo:{{Vehiculo.modelos_del_carro}}, Color:{{Vehiculo.color_del_carro}}, Año: {{Vehiculo.ano_del_carro}}</li>
      
          <a href='actualizar/{{ familiar.id }}'>Actualizar</a>
        </ul>
  {% endfor %}
{% endblock %}

