<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista de carros </title>
</head>
<body>
    <h1>Carros a la venta</h1>
    <from action="buscar_carros/buscar" method="post">
        {% csrf_token %}
        {{from}}
        <input type="submit" value="Submit">
    <ul>
    {% for Vehiculo in lista_carros %}
    
        <li> Marca: {{Vehiculo.marca_del_carro}}, Modelo: {{Vehiculo.modelos_del_carro}}, Color: {{Vehiculo.color_del_carro}}, Año: {{Vehiculo.ano_del_carro}} </li>

    {% endfor %}
    </ul>

</body>
</html>